[submodule "rpcs3-ffmpeg"]
	path = 3rdparty/ffmpeg
	url = https://github.com/RPCS3/ffmpeg-core.git
	ignore = dirty
[submodule "asmjit"]
	path = 3rdparty/asmjit/asmjit
	url = https://github.com/asmjit/asmjit.git
	branch = master
	ignore = dirty
[submodule "3rdparty/llvm/llvm"]
	path = 3rdparty/llvm/llvm
	url = https://github.com/llvm/llvm-project.git
	ignore = dirty
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang/glslang
	url = https://github.com/KhronosGroup/glslang.git
	ignore = dirty
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib/zlib
	url = https://github.com/madler/zlib
	ignore = dirty
[submodule "3rdparty/hidapi"]
	path = 3rdparty/hidapi/hidapi
	url = https://github.com/libusb/hidapi.git
	branch = master
	ignore = dirty
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
	ignore = dirty
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp/yaml-cpp
	url = https://github.com/RPCS3/yaml-cpp.git
	ignore = dirty
[submodule "3rdparty/libpng"]
	path = 3rdparty/libpng/libpng
	url = https://github.com/glennrp/libpng.git
	ignore = dirty
[submodule "3rdparty/libusb"]
	path = 3rdparty/libusb/libusb
	url = https://github.com/libusb/libusb.git
	ignore = dirty
[submodule "3rdparty/FAudio"]
	path = 3rdparty/FAudio
	url = https://github.com/FNA-XNA/FAudio.git
	ignore = dirty
[submodule "3rdparty/curl"]
	path = 3rdparty/curl/curl
	url = https://github.com/curl/curl.git
	ignore = dirty
[submodule "3rdparty/wolfssl"]
	path = 3rdparty/wolfssl/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
	ignore = dirty
[submodule "3rdparty/cubeb/cubeb"]
	path = 3rdparty/cubeb/cubeb
	url = https://github.com/mozilla/cubeb.git
	ignore = dirty
[submodule "3rdparty/SoundTouch/soundtouch"]
	path = 3rdparty/SoundTouch/soundtouch
	url = https://github.com/RPCS3/soundtouch.git
	ignore = dirty
[submodule "3rdparty/libsdl-org/SDL"]
	path = 3rdparty/libsdl-org/SDL
	url = https://github.com/libsdl-org/SDL.git
	ignore = dirty
[submodule "3rdparty/miniupnp/miniupnp"]
	path = 3rdparty/miniupnp/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
	ignore = dirty
[submodule "3rdparty/rtmidi/rtmidi"]
	path = 3rdparty/rtmidi/rtmidi
	url = https://github.com/thestk/rtmidi
	ignore = dirty
[submodule "3rdparty/zstd/zstd"]
	path = 3rdparty/zstd/zstd
	url = https://github.com/facebook/zstd
	ignore = dirty
[submodule "3rdparty/7zip/7zip"]
	path = 3rdparty/7zip/7zip
	url = https://github.com/ip7z/7zip.git
	ignore = dirty
[submodule "3rdparty/OpenAL/openal-soft"]
	path = 3rdparty/OpenAL/openal-soft
	url = https://github.com/kcat/openal-soft.git
	ignore = dirty
[submodule "3rdparty/stblib/stb"]
	path = 3rdparty/stblib/stb
	url = https://github.com/nothings/stb.git
	ignore = dirty
[submodule "3rdparty/opencv/opencv"]
	path = 3rdparty/opencv/opencv
	url = https://github.com/Megamouse/opencv_minimal.git
	ignore = dirty
[submodule "3rdparty/fusion/fusion"]
	path = 3rdparty/fusion/fusion
	url = https://github.com/xioTechnologies/Fusion.git
	ignore = dirty
[submodule "3rdparty/discord-rpc/discord-rpc"]
	path = 3rdparty/discord-rpc/discord-rpc
	url = https://github.com/Vestrel/discord-rpc
	ignore = dirty
[submodule "3rdparty/GPUOpen/VulkanMemoryAllocator"]
	path = 3rdparty/GPUOpen/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	ignore = dirty
[submodule "3rdparty/feralinteractive/feralinteractive"]
	path = 3rdparty/feralinteractive/feralinteractive
	url = https://github.com/FeralInteractive/gamemode.git
	ignore = dirty
[submodule "3rdparty/protobuf/protobuf"]
	path = 3rdparty/protobuf/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	ignore = dirty
[submodule "3rdparty/oboe/oboe"]
	path = 3rdparty/oboe/oboe
	url = https://github.com/google/oboe.git
